body{
    background-color: #FFFFF2;
    overflow-x: hidden;
}

#navbar{
    height:50px;
    width:100vw;
    border-bottom: 0.5px solid #5c5c5a;
    display:flex;
    position: fixed;
    left:-1px;
    background-color: #FFFFF2;
    z-index: 1000;
    top:0px;
    padding-top:10px;
}

.external-link{
    text-decoration: underline;
}

.pages{
    display:flex;
    position:absolute;
    right:20px;
    align-items: flex-end;
}

.link{
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 30px;
}

a{
    color:black;
    text-decoration: none;
}

#footer{
    height: 80px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:-50px;
    border-top: 0.5px solid black;
    margin-top:150px;
}

.contact{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin:20px;
}

#name-text{
    color: #d91e3d;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    align-self: center;
}

#name-logo{
    padding-top:25px;
    padding-left:15px;
    width:250px;
    height:auto;
    left: 0px;
    top:-10px;
    position: absolute;
}



#content{
    display:flex;
    position:relative;
    top:55px;
    padding:20px;
    flex-wrap:wrap;
    justify-content: flex-start;

}

/* #pop-out{
    position: absolute;
    display: none;
    width:100vw;
    height:100vh;
    z-index: 101;
}

#shade{
    position:absolute;
    display: none;
    background: black;
    opacity: 50%;
    width: 105vw;
    height: 100vh;
    left: -2vw;
    z-index: 100;
} */

#bio{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16pt;
    width: calc(65vw - 50px);
    top: 70px;
    position: relative;
    left: 30px;
}

.column{
    width: 33%;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.small-project{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

.main-image{
    width: 100%;
}

.more-images{
    display:none;
}

.caption{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    margin:0px;
    width: 100%;
}

.pop-out-image{
    width: 50%;
    left: 25%;
}


@media (max-width:770px){
    .column{
        width: 100%;
    }
    
    #bio{
        width: 90%;
    }

}