body{
    background-color: #FFFFF2;
}

#navbar{
    height:50px;
    width:100vw;
    border-bottom: 0.5px solid #5c5c5a;
    display:flex;
    position: fixed;
    left:-1px;
    background-color: #FFFFF2;
    z-index: 1000;
    top:0px;
    padding-top:10px;
}

#pages{
    display:flex;
    position:absolute;
    right:20px;
}

a{
    color:black;
    text-decoration: none;
}

#footer{
    height: 80px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:-50px;
}

.contact{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin:20px;
}

#name-logo{
    padding:10px;
    width:120px;
    height:auto;
    left: 0px;
    top:-10px;
    position: absolute;
}

.link{
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.project{
    border-bottom: 0.5px solid black;
    height: 475px;
    width: 100vw;
    display:flex;
    position:relative;
    top:50px;
    justify-content: end;
    left:-2px;
    overflow:hidden;
}

/* #filters{
    height:80px;
    width:fit-content;
    display:flex;
    flex-wrap:warp;
    position:relative;
    top:50px;
    justify-content:space-evenly;
    align-items:center;
} */

#filter-label{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#intro{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    width:50vw;
    margin:10px;
}

.filter-button:hover{
    cursor: pointer;
}

.typography{
    display:flex;
}

.digital{
    display:flex;
}

.product-design{
    display:flex;
}

#buttons-box{
    width:25vw;
    display:flex;
    justify-content: space-around;
    margin-left: 2vw;
    margin-top:20px;
    margin-bottom:30px;
    position:relative;
    top:50px;
}

.filter-button{
    /* margin-top:20px; */
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #e1e1d6;
    padding-left:10px;
    padding-right:10px;
    /* border:5px solid #e1e1d6; */
    border-radius:10px;
    transition:300ms;
    text-align: center;
    margin:5px;
}

#digital:hover{
    filter:invert(1);
}

#typography:hover{
    filter:invert(1);
}

#product-design:hover{
    filter:invert(1);
}

.description{
    width: 35vw;
    height: 410px;
    /* display:flex; */
    padding:40px;
}

.project-name{
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    line-height:24px;
}

.project-description{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height:22px;
}

.project-date{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height:24px;
}

.project-type{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height:24px;
}

.images{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 475px;
    width: 65vw;
    overflow: hidden;
}

.clock{
    width: 18.5vw;
    padding:0px;
    align-self: center;
}

#omnibus-image{
    width: 55vw;
    margin: auto;
}

#babb-image{
    width: 57vw;
    margin-left: -5vw;
    margin-top: 20px;
}

#cake-page{
    width:65vw;
    height:auto;
    margin:-40px;
    margin-top: -50px;
}

#deodorants{
    width: 60vw;
}

#spinster-book{
    width:70vw;
    height:auto;
    margin-left:-30px;
}

#nypl{
    width: 65vw;
}

#sampler-image{
    width: 60vw;
}

.hover-link{
    transition:300ms;
}

.hover-link:hover{
    transform:translate(-10px, -10px);
}


@media (min-width: 506px) and (max-width: 1350px) {
    .description{
        width: 35vw;
    }

    .images{
        width: 65vw;
        height:auto;
    }
/* 
    img{
        width: 100%;
    } */

    .clock{
        width:30vw;
        height:auto;
        padding:0px;
    }
  }

@media (max-width: 505px){

    .clock{
        width:30vw;
        height:auto;
        padding:0px;
    }

    .images{
        width:100vw;
        height:auto;
        flex-wrap:wrap;
        justify-content:space-evenly;
        margin-top:15px;
        align-items:center;
        align-content:center;
    }

    .project{
        flex-wrap:wrap;
        height: fit-content;
        align-items: center;
        align-content:center;
    }

    #womens-work{
        width:99vw;
    }

    .poster{
        width:30vw;
        margin:0px;
        padding:0px;
    }

    .description{
        height:fit-content;
        padding:20px;
        margin-bottom: 20px;
        width:100vw;
    }

    #nypl{
        width:99vw;
    }

    .clock{
        width:40vw;
    }

    #omnibus-image{
        width: 100vw;
        margin: auto;
    }
    
    #babb-image{
        width: 105vw;
        margin-left: -2vw;
    }
    
    #cake-page{
        width:115vw;
        height:auto;
        margin:-40px;
        margin-top: -50px;
    }
    
    #deodorants{
        width: 100vw;
    }
    
    #spinster-book{
        width:100vw;
        height:auto;
        margin-left:-30px;
    }
/* 
    #filters{
        width:100vw;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin-bottom: 20px;
        margin-top:20px;
    }

    .filter-button{
        padding:7px;
        margin:10px;
    }

    #filter-label{
        margin: 5px;
        margin-left: 20px;
    } */

    #buttons-box{
        display:flex;
        width:100vw;
        margin-left: 20px;
    }

    #deodorants{
        width:100vw;
        height:auto;
    }
}