body{
    background-color: #FFFFF2;
    overflow-x: hidden;
}

#navbar{
    height:50px;
    width:100vw;
    border-bottom: 0.5px solid #5c5c5a;
    display:flex;
    position: fixed;
    left:-1px;
    background-color: #FFFFF2;
    z-index: 1000;
    top:0px;
    padding-top:10px;
}

#pages{
    display:flex;
    position:absolute;
    right:20px;
}

a{
    color:black;
    text-decoration: none;
}

#footer{
    height: 80px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:-50px;
}

.contact{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin:20px;
}

#name-logo{
    padding:10px;
    width:120px;
    height:auto;
    left: 0px;
    top:-10px;
    position: absolute;
}

#bio-container{
    position:relative;
    width:100vw;
    top:25px;
    border-bottom: 0.5px solid black;
    overflow:hidden;
    cursor:pointer;
    padding:0;
    margin:0;
}

#bio{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    width: calc(65vw - 50px);
    padding: 25px;
    cursor:pointer;
}

.bubble{
    width:50px;
    height: 50px;
    position:absolute;
    border-radius: 50%;
    mix-blend-mode: multiply;
    opacity: 80%;
}

.link{
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.project{
    border-bottom: 0.5px solid black;
    height: 475px;
    width: 100vw;
    display:flex;
    position:relative;
    top:25px;
    justify-content: end;
    left:-2px;
    overflow:hidden;
}

.description{
    width: 35vw;
    height: 410px;
    /* display:flex; */
    padding:40px;
    cursor:default;
}

.project-name{
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    line-height:28px;
}

.project-description{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height:26px;
}

.project-date{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height:28px;
}

.project-type{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height:28px;
}

.images{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 475px;
    width: 65vw;
    overflow: hidden;
}

.clock{
    width: 18.5vw;
    padding:0px;
    align-self: center;
}

#omnibus-image{
    width: 65vw;
    margin: auto;
}

#babb-image{
    width: 68vw;
    margin-left: -5vw;
    margin-top: 20px;
}

#cake-page{
    width:65vw;
    height:auto;
}

#deodorants{
    width: 60vw;
}

#spinster-book{
    width:70vw;
    height:auto;
    margin-left:-30px;
}

#conference-banner{
    width:70vw;
    height:auto;
    margin-left:-30px;
}

#nypl{
    width: 65vw;
}

#sampler-image{
    width: 50vw;
}

.hover-link{
    transition:300ms;
}

.hover-link:hover{
    transform:translate(-10px, -10px);
}


@media (min-width: 771px) and (max-width: 1350px) {
    .description{
        width: 35vw;
    }

    .images{
        width: 65vw;
        height:auto;
    }

    .clock{
        width:30vw;
        height:auto;
        padding:0px;
    }

  }

@media (max-width: 770px){

    .clock{
        width:40vw;
        height:auto;
        padding:0px;
    }

    .images{
        width:100vw;
        height:auto;
        flex-wrap:wrap;
        justify-content:space-evenly;
        margin-top:15px;
        align-items:center;
        align-content:center;
        overflow: hidden;
    }

    .project{
        flex-wrap:wrap;
        height: fit-content;
        align-items: center;
        align-content:center;
        width:101vw;
        left: -2vw;
    }

    #womens-work{
        width:99vw;
    }

    .poster{
        width:30vw;
        margin:0px;
        padding:0px;
    }

    .description{
        height:fit-content;
        padding:20px;
        margin-bottom: 20px;
        width:100vw;
    }

    #bio{
        width: calc(98vw - 50px);
    }

    #nypl{
        width:99vw;
    }

    #omnibus-image{
        width: 100vw;
        margin: auto;
    }
    
    #babb-image{
        width: 105vw;
        margin-left: -2vw;
    }
    
    #cake-page{
        width:100vw;
        height:auto;
    }
    
    #deodorants{
        width: 100vw;
    }
    
    #spinster-book{
        width:105vw;
        height:auto;
        margin-left:-30px;
    }

    #conference-banner{
        width:105vw;
        height:auto;
        margin-left:-30px;
    }

    #buttons-box{
        display:flex;
        width:100vw;
        margin-left: 20px;
    }

    #deodorants{
        width:100vw;
        height:auto;
    }

    #sampler-image{
        width: 100vw;
    }
}

@media (max-width: 425px){
    #bio{
           font-size: 30px;
           line-height: 36px;
        }
}