body{
    background-color: #FFFFF2;
}

#navbar{
    height:50px;
    width:100vw;
    border-bottom: 0.5px solid #5c5c5a;
    display:flex;
    position: fixed;
    left:-1px;
    background-color: #FFFFF2;
    z-index: 1000;
    top:0px;
    padding-top:10px;
}

#pages{
    display:flex;
    position:absolute;
    right:20px;
}

a{
    color:black;
    text-decoration: none;
}

#footer{
    height: 80px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:-50px;
}

.contact{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin:20px;
}

#name-logo{
    /* font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal; */
    padding:10px;
    width:120px;
    height:auto;
    left: 0px;
    top:-10px;
    position: absolute;
}

.link{
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.project{
    border-bottom: 0.5px solid black;
    height: 475px;
    width: 100vw;
    display:flex;
    position:relative;
    top:50px;
    justify-content: end;
    left:-2px;
    overflow:hidden;
}

#filters{
    height:80px;
    width:35vw;
    display:flex;
    position:relative;
    top:50px;
    justify-content:space-evenly;
    align-items:center;
    /* border-bottom: 0.5px solid black; */
}

#filter-label{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.filter-button:hover{
    cursor: pointer;
}

.typography{
    display:flex;
}

.digital{
    display:flex;
}

.product-design{
    display:flex;
}

#buttons-box{
    width:25vw;
    display:flex;
    justify-content: space-around;
}

.filter-button{
    /* margin-top:20px; */
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #e1e1d6;
    padding-left:10px;
    padding-right:10px;
    /* border:5px solid #e1e1d6; */
    border-radius:10px;
    transition:300ms;
    text-align: center;
}

#digital:hover{
    filter:invert(1);
}

#typography:hover{
    filter:invert(1);
}

#product-design:hover{
    filter:invert(1);
}

.description{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height:22px;

    width: 447px;
    height: 410px;
    display:flex;
    padding:40px;
}

.images{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content:center;
    height: 475px;
    width: calc(100vw - 447px);
}

.poster{
    width: 250px;
    padding:10px;
    height: auto;
}

#book{
    width:800px;
    height:auto;
    margin-bottom:20px;
}


.other-poster{
    width:300px;
    height:auto;
    border:1px solid #31312e9c;
}

.clock{
    width:250px;
    height:auto;
    padding:0px;
}

#deodorants{
    width: 800px;
}

.hover-link{
    transition:300ms;
}

.hover-link:hover{
    transform:translate(-10px, -10px);
}

@media (max-width: 425px){

    .images{
        width:100vw;
        height:auto;
        flex-wrap:wrap;
        justify-content:space-evenly;
        margin-top:15px;
        align-items:center;
        align-content:center;
    }

    .project{
        flex-wrap:wrap;
        height: fit-content;
        align-items: center;
        align-content:center;
    }

    #womens-work{
        width:99vw;
    }

    .poster{
        width:30vw;
        margin:0px;
        padding:0px;
    }

    .description{
        height:fit-content;
        padding:20px;
        margin-bottom: 20px;
    }

    #nypl{
        width:99vw;
    }

    .clock{
        width:40vw;
    }

    #omnibus{
        width:99vw;
    }

    #book{
        width:99vw;
    }

    .other-poster{
        width:48vw;
    }

    #filters{
        width:100vw;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin-bottom: 20px;
        margin-top:20px;
    }

    .filter-button{
        padding:7px;
        margin:10px;
    }

    #filter-label{
        margin: 5px;
        margin-left: 20px;
    }

    #buttons-box{
        display:flex;
        width:100vw;
        margin-left: 20px;
    }

    #deodorants{
        width:100vw;
        height:auto;
    }
}