body{
    background-color: #FFFFF2;
}

#navbar{
    height:50px;
    width:100vw;
    border-bottom: 0.5px solid #5c5c5a;
    display:flex;
    position: fixed;
    left:-1px;
    background-color: #FFFFF2;
    z-index: 1000;
    top:0px;
    padding-top:10px;
}

#external-link{
    text-decoration: underline;
}

#pages{
    display:flex;
    position:absolute;
    right:20px;
}

a{
    color:black;
    text-decoration: none;
}

#footer{
    height: 80px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:-50px;
    border-top: 0.5px solid black;
    margin-top:150px;
}

.contact{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin:20px;
}

#name-logo{
    padding:10px;
    width:120px;
    height:auto;
    left: 0px;
    top:-10px;
    position: absolute;
}

.link{
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#content{
    display:flex;
    position:relative;
    top:55px;
    padding:20px;
    /* border:1px solid black; */
}

#bio{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-left:50px;
    font-size: 20px;
    line-height: 26px;
}

#colophon{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top:50px;
    width: 60%;
}

#bio-photo{
    width:35vw;
    height: auto;
    align-self: flex-start;
}

#resume-link{
    width:fit-content;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: italic;
    background-color: #e1e1d6;
    padding-left:5px;
    padding-right:5px;
    border:5px solid #e1e1d6;
    border-radius:10px;
    transition:300ms;
}

#resume-link:hover{
    transform:translate(-2px, -2px);
}

@media (max-width:770px){
    #content{
        flex-wrap:wrap;
    }

    #bio-photo{
        width:90vw;
        height:auto;
        align-self: center;
    }

    #bio{
        padding:0px;
        margin-top:20px;
    }

    #colophon{
        width:100%;
    }
}