body{
    background-color: #FFFFF2;
}

#navbar{
    height:50px;
    width:100vw;
    border-bottom: 0.5px solid #5c5c5a;
    display:flex;
    position: fixed;
    left:-1px;
    background-color: #FFFFF2;
    z-index: 1000;
    top:0px;
    padding-top:10px;
}

#pages{
    display:flex;
    position:absolute;
    right:20px;
}

a{
    color:black;
    text-decoration: none;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#name-text{
    color: #d91e3d;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    align-self: center;
}

#name-logo{
    padding-top:25px;
    padding-left:15px;
    width:250px;
    height:auto;
    left: 0px;
    top:-10px;
    position: absolute;
}

#footer{
    height: 80px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:-50px;
    border-top: 0.5px solid black;
    margin-top:150px;
}

.contact{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin:20px;
}

.link{
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* content */
#main-image{
    width:100%;
}

#content{
    left:-1vw;
    width:101vw;
    position:relative;
    display:flex;
    flex-wrap:wrap;
    top:50px;
    /* margin-left:20px;
    margin-right:20px; */
    align-items:center;
    align-content: center;
    overflow: hidden;
}

#first-chunk{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:75px;
    margin-bottom:75px;
}

/* #right-content{
    display:flex;
    flex-wrap:wrap;
    width: 60%;
    justify-content:center;
    align-items: center;
    align-content:center;
} */

#description{
    padding:50px;
    padding-top:100px; 
    width: 40%;
}

#cover{
    width:calc(60% - 100px);
    /* margin-top: 50px; */
    align-self: center;
}

.project-name{
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    line-height:28px;
}

.project-description{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height:26px;
}

.project-date{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height:28px;
}

.project-type{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height:28px;
}

#spread{
    top:150px;
    width:100%;
    align-self: center;
}

.blurb-box{
    width:100vw;
    display: flex;
    justify-content:center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.blurb{
    width: 50vw;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:20px;
    line-height: 26px;
}

#second-chunk{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:100%;
    height:auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-images{
    width: 50%;
    height:auto;
    align-self:center;
}

/* #stitches{
    width:100%;
    padding-top: 100px;
    padding-bottom: 50px;
} */

.big-pic{
    width:100%;
    padding-top: 75px;
    padding-bottom: 75px;
}

@media (max-width: 770px){

    #content{
        left:-2%;
        width:105%;
        position:relative;
        display:flex;
        flex-wrap:wrap;
        top:50px;
        /* margin-left:20px;
        margin-right:20px; */
        align-items:center;
        align-content: center;
        overflow: hidden;
    }

    #cover{
        width: 100%;
    }

    #description{
        width: 85vw;
        padding:10px;
        padding-top: 50px; 
        align-self: center;
    }

    .big-pic{
        width: 100vw;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #spread{
        width: 200vw;
        padding-left: -20px;
    }

    #main-image{
        width: 100vw;
    }

    .blurb-box{
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .blurb{
        width:80vw;
        font-size: 20px;
        line-height: 26px;
        margin:0px;
    }

    #first-chunk{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .box-images{
        width:100%;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #second-chunk{
        margin-bottom:-50px;
        margin-top:-50px;
    }
}