body{
    background-color: #FFFFF2;
    overflow-x: hidden;
}

#navbar{
    height:50px;
    width:100vw;
    border-bottom: 0.5px solid #5c5c5a;
    display:flex;
    position: fixed;
    left:-1px;
    background-color: #FFFFF2;
    z-index: 1000;
    top:0px;
    padding-top:10px;
}

#pages{
    display:flex;
    position:absolute;
    right:20px;
}

a{
    color:black;
    text-decoration: none;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#name-text{
    color: #d91e3d;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    align-self: center;
}

#name-logo{
    padding-top:25px;
    padding-left:15px;
    width:250px;
    height:auto;
    left: 0px;
    top:-10px;
    position: absolute;
}

.link{
    padding:10px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*content*/

#content{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    top:70px;

}

.project-name{
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    line-height:28px;
}

.project-description{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height:26px;
}

.project-date{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height:28px;
}

.project-type{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height:28px;
}

#description{
    width: 33vw;
    margin-right:4vw;
    margin-top:150px;
}

#blurb-box{
    width:100vw;
    display: flex;
    justify-content:center;
    margin-bottom: 80px;
    margin-top: 80px;
}

#blurb{
    width: 50vw;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
}

#links-box{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    top:20px;
    position:relative;
    font-size: 20px;

}

.project-links{
    width:fit-content;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: italic;
    background-color: #e1e1d6;
    padding-left:5px;
    padding-right:5px;
    border:5px solid #e1e1d6;
    border-radius:10px;
    transition:300ms;
}

#footer{
    height: 80px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:-50px;
    border-top: 0.5px solid black;
    margin-top:150px;
}

.contact{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin:20px;
}

.project-links:hover{
    transform:translate(-2px, -2px);
}

#main-logo{
    width:60vw;
    margin-top:100px;
    height: auto;
    align-self:center;
}

#departments{
    width:95vw;
    margin-top:100px;
}

#banner{
    width:50vw;
    justify-self:center;
    margin-top:50px;
}

#images{
    display:flex;
    justify-content:space-around;
    align-items: center;
    align-self:center;
    justify-self: center;
    width:100vw;
    flex-wrap:wrap;
}

#cluster-right{
    width:45vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top:50px;
}

#flyers{
    width:45vw;
    margin-bottom:5px;
}
#totebag{
    width:18vw;
    height:auto;
    margin-top:5px;
    margin-right:3vw;
}

#social-post{
    width:18vw;
    margin-top:5px;
}


@media (max-width:770px){

    #content{
        justify-content:space-evenly;
        align-items:center;
        align-content:center;
        width:100vw;
    }

    #description{
        width:85vw;
        margin-top:20px;
        margin-bottom:20px;
        align-self:center;
    }

    #blurb{
        width:85vw;
        margin-top: 20px;
        margin-bottom: 20px;
        align-self: center;
    }

    #main-logo{
        width:100vw;
        margin-top:0;
    }

    #banner{
        width:100%;
        height:auto;
    }

    #cluster-right{
        width: 100vw;
        height: auto;
        margin:5px;
        padding:0px;
        margin-left:0px;

    }

    #flyers{
        width: 101%;
        height: auto;
        margin:0px;
        padding:0px;
    }

    #social-post{
        width:46vw;
        height:auto;
        margin:5px;
        padding:0px;
        margin-left:0px;
    }

    #totebag{
        width:46vw;
        height:auto;
        margin:5px;
        padding:0px;
    }

    #images{
        width:99vw;
        margin:0px;
        justify-content:left;
    }
}

